/* Remove default bullets */
ul {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
}

ul li {
  clear: both;
  /* padding-left: 18px; */
  position: relative;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.caret {
  width: 10px;
}

.get-list-child-changed {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.show-list-child-changed {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.parent-name{
    text-decoration: underline;
    color: blue;
    margin-top: -4px;
}

.p-20p{
padding: 0 20px;
}

.head-txt {
  
  background-color: azure;
}

.head-txt-cp{
border-bottom: 1px solid black;
}

lastChild {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 4fr));
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  margin: 10px 175px 0px 0px;
}

.mainClass {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 4fr));
  grid-row-gap: 4px;
  grid-column-gap: 60px;
  border-bottom: 10px;
}

ul.tree, ul.tree ul {
    list-style: none;
     margin: 0;
     padding: 0;
   } 
   ul.tree ul {
     margin-left: 10px;
   }
   ul.tree li {
     margin: 0;
     padding: 0 7px;
     line-height: 20px;
     color: #369;
     font-weight: bold;
     border-left:1px solid rgb(100,100,100);

   }
   ul.tree li:last-child {
       border-left:none;
   }
   ul.tree li:before {
      position:relative;
      top:-0.3em;
      height:1em;
      width:15px;
      color:white;
      border-bottom:1px solid rgb(100,100,100);
      content:"";
      display:inline-block;
      left:-7px;
   }
   ul.tree li:last-child:before {
      border-left:1px solid rgb(100,100,100);   
   }